.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.nav-list-item {
  list-style-type: none;
}

.about-text {
  text-align: left;
}

.contact-btn {
  outline: none;
  box-shadow: none;
}

#contact-title, #contact-body, #contact-buttons {
  font-family: 'Roboto', sans-serif;
}

#message-sent {
  font-size: larger;
  font-weight: 800;
  text-align: center;
}

.btn-header:focus,
.btn-header:active{
    box-shadow:none !important;
    outline:0px !important;
}