@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui";



@plugin "daisyui/theme" {
  name: "portfolio";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.006 286.033);
  --color-base-200: oklch(37% 0.013 285.805);
  --color-base-300: oklch(44% 0.017 285.786);
  --color-base-content: oklch(98% 0.003 247.858);
  --color-primary: oklch(84% 0.143 164.978);
  --color-primary-content: oklch(26% 0.051 172.552);
  --color-secondary: oklch(83% 0.145 321.434);
  --color-secondary-content: oklch(29% 0.136 325.661);
  --color-accent: oklch(80% 0.105 251.813);
  --color-accent-content: oklch(28% 0.091 267.935);
  --color-neutral: oklch(44% 0.011 73.639);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(71% 0.203 305.504);
  --color-info-content: oklch(29% 0.149 302.717);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.5rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
